/* Side Nav */
mat-sidenav{
    background-color: #f5f5f5;
    width: 300px;
}
mat-sidenav mat-list img {
    width: 50px;
    border-radius: 50%;
    float: left;
}
mat-sidenav-content mat-toolbar div.navbar {
    background-color: #007BFF;
}
mat-sidenav-container {
    height: 100%;
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
mat-sidenav-content {
    margin: 0;
}
mat-sidenav-content div.navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    overflow: auto;
}
mat-sidenav-content div.navbar img{
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    float: right;

}
mat-sidenav-content div.navbar mat-icon{
    margin: 15px;
}

/* Header */
mat-sidenav-container div.header div.mat-display-1{
    margin: 20px 20px 5px;
}
mat-sidenav-container div.header div.mat-body-1{
    margin: 20px 20px 5px;
}

/* Progress */
div.progress img {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 60px;
    margin: 20px auto 20px;
}
div.progress ul{
    text-align: center;
}
div.progress ul li{
    display: inline-block;
    width: 160px;
}
div.progress ul li p{
    color: grey;
}
div.progress img p::after {
    /* line */
    content: "";
    background: black;
    height: 5px;
    width: 160px;
    display: block;
    position: absolute;
}
div.input-group {
    margin: 20px 20px 0px;

}
div.input-group .mat-title{
    width: 30%;
    background-color: #007BFF;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
    margin-bottom: 0px;
    /* margin: 20px 20px 0px; */
}
div.input-group div.container img {
    margin: 0px;
    width: 200px;
    margin-left: 15px;
    background-color: rgba(211, 211, 211, .7);
    border-radius: 15px;
    float: left;
}