<router-outlet></router-outlet>

<mat-sidenav-container>
  <!-- Side Nav -->
  <mat-sidenav #sidenav mode="side" [(opened)] = "opened">
    <mat-list>
      <img src="assets/img_avatar.png" style="border: 2px solid white; ">
    </mat-list>
    <div class="mat-title" style="margin: 10px 10px 10px 50px; ">
      มานีมานา เคหะ
    </div>
    <br>
    <hr>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Toolbar (Navbar) -->
    <mat-toolbar>
    <div class="navbar" style="width: 100%;">
      <a (click)="opened=!opened">
        <span class="material-icons" style="color: white; padding-top: 10px;">
          menu
        </span>
      </a>

      <img src="assets/img_avatar.png" style="border: 2px solid white; ">
      <mat-icon class="material-icons" matBadge="2" matBadgeColor="accent" style="color:white; float: right;">notifications</mat-icon>
    </div>
    </mat-toolbar>

    <!-- Header -->
    <div class="header">
      <div class="mat-display-1">สร้างบิลการส่งสินค้า</div>
      <div class="text-body">
        <div class="mat-body-1">
            <span class="material-icons">home / การสร้างบิล <span style="color: #007BFF;">/ การส่งบิลสินค้า</span></span>
        </div>
      </div>
    </div>

    <!-- Progress -->
    <div class="progress">
      <ul>
        <li>
          <img src="assets/progress/1.png" alt="">
          <p>ข้อมูลลูกค้า</p>
        </li>
        <li>
          <img src="assets/progress/2.png" alt="">
          <p>ข้อมูลผู้รับ-ส่ง</p>
        </li>
        <li>
          <img src="assets/progress/3.png" alt="">
          <p>วันนัดหมาย</p>
        </li>
        <li>
          <img src="assets/progress/4.png" alt="">
          <p>ข้อมูลสินค้า</p>
        </li>
        <li>
          <img src="assets/progress/5.png" alt="">
          <p>บริการเพิ่มเติม</p>
        </li>
        <li>
          <img src="assets/progress/6.png" alt="">
          <p>เสร็จสิ้น</p>
        </li>
      </ul>
    </div>
    <hr style="width: 80%; margin: 5px auto; background-color: lightgrey;">

    <!-- Form Group -->
    <div class="input-group">
      <div class="mat-title">
        ข้อมูลบัตรประจำตัวผู้ส่ง
      </div>
      <div class="container" style="border-top: 10px solid #007BFF; border-radius: 0px 5px 0px 0px;">
        <p style="padding-left: 8px; padding-top: 8px;"><b>เลขที่ใบนำส่ง :</b> ระบบจะสร้างให้อัตโนมัติ</p> 
        <hr style="margin: 10px;">
        <img src="/assets/input-form.png">
      </div>
      <mat-form-field floatLabel="always">
        <mat-label>หมายเลขบัตร</mat-label>
        <input matInput>
      </mat-form-field> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>